.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}

.opaque {
    background-color: black;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

.curtain > .vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.curtain > .text {
    font-size: 18pt;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}
.curtain#gameover {
    text-align: center;
}

.curtain#gameover > img {
    height: 100%;
    width: 50%;
    object-fit: contain;
}

.curtain#gameover > .sidepanel {
    width: 25%;
    padding: 0;
}

.curtain#gameover > .left {
    float: left;
}


.curtain#gameover  > .right {
    float: right;
}

.curtain#gameover  > .text > .big {
    font-weight: 900;
    font-size: 28pt;
}

.curtain#stuck {
    opacity: 0.75;       
}

@-webkit-keyframes fadeinstuck {
    from { opacity: 0; }
    to { opacity: 0.75; }
}

@-webkit-keyframes fadeoutstuck {
    from { opacity: 0.75; }
    to { opacity: 0; }
}


#networkholder {
    display: inline-block;
    height: 5%;
    width: 60%;
    margin: 1%;
}

#networkholder > #network {
    top: 0px;
    left: 0px;
    height: 100%;
    color: rgba(0,0,0,0);
}

/*
 * ================
 *  HUD FORMATTING
 * ================
 */

sw-hud > #bottompanel {
    position: absolute;
    width: 100%;
    bottom: 0;
}

sw-hud > #bottompanel > * {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    padding-left: 1.25%;
    padding-right: 1.25%;
    box-sizing: border-box;
    vertical-align: middle;
}

sw-hud > #bottompanel > #skin {
    width: 100%;
    bottom: 0;
    padding: 0;
}

sw-hud > #bottompanel > #message {
    left: 0.9375%;
    bottom: 12.962962962963%;
    width: 20%;
    height: 42.592592592593%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-align: left;
}

sw-hud > #bottompanel > #message.background { 
    color: rgba(96, 96, 96, 1.0);
}

sw-hud > #bottompanel > #message.foreground { 
    color: rgba(255, 255, 255, 1.0);
}

sw-hud > #bottompanel > #score {
    right: 0.9375%;
    bottom: 12.962962962963%;
    width: 14.84375%;
    height: 42.592592592593%;
    text-align: right;
    color: rgba(255, 255, 255, 1.0);
}

sw-hud > #bottompanel > #shieldbar {
    left: 25.078125%;
    bottom: 18.518518518519%;
    width: 49.84375%;
    height: 31.481481481481%;
    padding-left: 0;
    padding-right: 0;
}

sw-hud > #bottompanel > #shieldbar > * {
    position: absolute;
    height: 100%;
}

sw-hud > #bottompanel > #shieldbar > #shield {
    background-color: rgba(0, 155, 255, 1.0);
}

sw-hud > #bottompanel > #shieldbar > #delta.positive {
    background-color: lime;
}

sw-hud > #bottompanel > #shieldbar > #delta.negative {
    background-color: red;
}
